<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
     <Gelf name="gelf" host="udp:localhost" port="12201" version="1.0" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192" 
              originHost="my.host.name" additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long"
              ignoreExceptions="true">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server" pattern="%host" />
            <Field name="fieldName2" literal="fieldValue2" /> <!-- This is a static field -->
            <Field name="mdcField2" mdc="mdcField2" /> <!-- This is a field using MDC -->
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
        </Gelf>
        <!-- File Appender -->
        <File name="FILE" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="%d{dd/MMM/yyyy HH:mm:ss,SSS} %-5p %c{1}: %m%n" />
        </File>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MMM/yyyy HH:mm:ss,SSS} %-5p %c{1}: %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="it.arsinfo.example.service" level="info" />
        <Logger name="it.arsinfo.example.logger" level="trace" />
        <Root level="debug">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
            <AppenderRef ref="gelf" />
        </Root>
    </Loggers>
</Configuration>
